<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>20213105 손준우</title>
        <img src="/img/logo.png" alt="inje">
    </head>
    <body>
        {{{body}}}
    </body>
</html>